<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>PetHub</title>
</head>
<body>
    <h1>Welcome to PetHub</h1>
    <h3>Login as Admin</h3>
    <form action="/loginadmin" method="post">
    <label>Username</label>
    <input type="text" name="username">
    <label>Password</label>
    <input type="password" name="password">
    <input type="submit" value="Log In">
    </form>
</body>
</html>